body {
  padding: 0;
  margin: 0;
  font-family: sans-serif, Arial, Helvetica;
}



nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4em;
  background: aqua;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

nav ul li{
font-weight: bold;
}

nav ul li a{
  text-decoration: none;
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
  margin-top: 5em;
  margin-left: 3em;
  font-size: 1.2em;
}
b {
  color: aqua;
}
main {
  background: rgb(102, 102, 102);
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  margin-bottom: 8em;
}

main div {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 18em;
  padding: 3em;
  font-size: 1em;
  position: relative;
}

main div p {
  margin-top: 5em;
  font-size: 1.2em;
}

main div h2 {
  position: absolute;
  top: -0.5em;
  left: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
  -moz-box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
  box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
  width: 25rem;
  height: 5rem;
  background: rgb(255, 191, 0);
  border-radius: 4px;
}

/* css for smaller phone screens */

@media (max-width: 450px) {
  header {
    text-align: center;
  }
  b {
    color: aqua;
  }
  main {
    background: rgb(102, 102, 102);
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    margin-bottom: 8em;
  }

  main div {
    background: rgb(255, 255, 255);
    width: 100%;
    height: 28em;
    padding: 3em;
    font-size: 1em;
    margin-top: 10em;
  }

  main div p {
    margin-top: 4em;
    font-size: 1.2em;
  }

  main div h2 {
    position: absolute;
    top: -0.5em;
    left: 1.2em;
    padding: 0.3em;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
    -moz-box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
    box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
    width: 18rem;
    height: 4rem;
    background: rgb(255, 191, 0);
    border-radius: 4px;
  }
}

/* css for tablet screen sizes */

@media (min-width: 767px) and (max-width: 1023px) {
  header {
    text-align: center;
  }
  b {
    color: aqua;
  }
  main {
    background: rgb(102, 102, 102);
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    margin-bottom: 8em;
  }

  main div {
    background: rgb(255, 255, 255);
    border-radius: 1em;
    margin: 1em auto;
    width: 40em;
    height: 23em;
    padding: 3em;
    font-size: 1em;
    position: relative;
  }

  main div p {
    margin-top: 3em;
    font-size: 1.2em;
  }

  main div h2 {
    position: absolute;
    top: -0.5em;
    left: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
    -moz-box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
    box-shadow: 0px 14px 5px 0px rgba(201, 155, 62, 1);
    width: 25rem;
    height: 5rem;
    background: rgb(255, 191, 0);
    border-radius: 4px;
  }
}
